%p
  Created by 
  = link_to 'filtercake', 'http://filtercake.com/'
  \. Powered by
  = link_to 'Github pages', 'http://pages.github.com/'
  , 
  = link_to 'Middleman', 'http://middlemanapp.com/'
  , 
  = link_to 'Compass', 'http://compass-style.org/'
  , 
  = link_to 'HAML', 'http://haml.info/'
  \ and 
  = link_to 'SASS', 'http://sass-lang.com/'
  \.
