- images = ["card-fan", "the-cards", "many-packs"]


.chunk
  .visual
    = image_tag 'card-fan.jpg'
    / = link_to '/content/images/'+images[0]+'-medium.jpg', :class => 'fancybox' do
    /   = image_tag '/assets/media/16-9.png',  :class => images[0]
  .text
    %h2 What is this?
    = partial '/content/what'

.chunk
  .visual
    = image_tag 'cards.jpg'
    / = link_to '/content/images/'+images[1]+'-medium.jpg', :class => 'fancybox' do
    /   = image_tag '/assets/media/16-9.png',  :class => images[1]
  .text
    %h2 Where can I get them?
    = partial '/content/get'

    = link_to 'Follow us on twitter', 'http://twitter.com/makersdeck', :class => 'button big'
    %br
    or 
    %br
    = link_to 'Join the mailing list', 'http://eepurl.com/pMUR5', :class => 'button big'
    %br
    or 
    %br
    = link_to 'Check the blog', 'http://crushandcreate.tumblr.com', :class => 'button big'


    / %p.mobilebuttons
    /   = link_to 'Mailing list', 'http://eepurl.com/pMUR5', :class => 'button big'
    /   = link_to 'Twitter', 'http://twitter.com/makersdeck', :class => 'button big'

.chunk
  .visual
    = image_tag 'pack-wide.jpg'
    / = link_to '/content/images/'+images[2]+'-medium.jpg', :class => 'fancybox' do
    /   = image_tag '/assets/media/16-9.png',  :class => images[2]
  .text
    %h2 Will this be open source?
    = partial '/content/opensource'


.clear
#gallery.hasTopline
  %h2 Gallery
  = partial '/content/gallery'

.clear
#faq.hasTopline
  %h2 FAQ
  = partial '/content/faq'
